.hero {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  padding: 2px;

  background-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0.6) 0%,   /* Arriba: negro al 60% de opacidad (oscurece la imagen) */
      rgba(0, 0, 0, 0.8) 60%,  /* Medio: se va poniendo más oscuro */
      rgba(0, 0, 0, 1) 100%    /* Abajo: Negro puro (se funde con el fondo de tu app) */
    ),
    url('https://i.pinimg.com/1200x/89/2b/60/892b60d11eb60cfdb951e156f242e233.jpg'); /* Reemplazá con tu imagen */

  /* Ajustes para que la imagen se vea perfecta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 500px;
}

.hero-title {
  font-size: 2rem;
  color: var(--color-primary);
  margin-bottom: 12px;
}

.hero-subtitle {
  font-size: 1rem;
  color: var(--color-text-secondary);
  margin-bottom: 20px;
}
.hero-buttons-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.hero-button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--color-primary-dark);
}


