/*fondos por escuela de magia*/
/* Al principio de MagicSchools.css añadir esto: */

[class^="bg-"]::before, 
[class*=" bg-"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.4; /* Bajamos la opacidad para que se vea el texto en el Home */
  z-index: 0;
  transition: opacity 0.3s ease;
}

/* Cuando la carta se expande o pasas el mouse, la imagen brilla más */
.tarjeta-hechizo:hover::before,
.card-compact.compact-expandida::before {
  opacity: 0.7;
}


.carta-bg-illusion::before {
 
  background-image: 
    linear-gradient(rgba(10, 10, 15, 0.6), rgba(10, 10, 15, 0.8)), 
    url('https://i.pinimg.com/1200x/e0/b3/b8/e0b3b8025546d2bfde8a67532a11fa2d.jpg');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.carta-bg-evocation::before {
  background-image: 
    linear-gradient(rgba(10, 10, 15, 0.6), rgba(10, 10, 15, 0.8)),
    url('https://i.pinimg.com/736x/16/0e/26/160e26e7b6a4d7f10da04e94554f3832.jpg');
  /* Puedes buscar patrones de "chispas" en codepen y pegarlos acá */
}

.carta-bg-necromancy::before {
  background-image: 
    linear-gradient(rgba(10, 10, 15, 0.6), rgba(10, 10, 15, 0.8)), 
    url('https://i.pinimg.com/736x/fa/8d/08/fa8d08e9d813b904f696436113ae7299.jpg');
}

.carta-bg-abjuration::before {
  background-image: 
    linear-gradient(rgba(10, 10, 15, 0.6), rgba(10, 10, 15, 0.8)),
    url('https://i.pinimg.com/736x/bb/1e/0d/bb1e0dfd8e86b1a4d07e87228ff2fe22.jpg');
}



.carta-bg-enchantment::before{
    background-image: 
    linear-gradient(rgba(10, 10, 15, 0.6), rgba(10, 10, 15, 0.8)),
    url('https://i.pinimg.com/736x/73/3f/61/733f61f6a03e9c798f19762cb965f455.jpg');
}
.carta-bg-conjuration::before {
  background-image: 
    linear-gradient(rgba(10, 10, 15, 0.6), rgba(10, 10, 15, 0.8)),
    url('https://i.pinimg.com/736x/7f/10/60/7f10604d1891960f1f181c8d573f004e.jpg');
}
.carta-bg-transmutation::before{
    background-image: 
        linear-gradient(rgba(10, 10, 15, 0.6), rgba(10, 10, 15, 0.8)),
        url('https://i.pinimg.com/webp70/1200x/39/6a/70/396a704d4ec4459efeb4a50b40ff425f.webp');
}
.carta-bg-divination::before {
  background-image: 
    linear-gradient(rgba(15, 5, 20, 0.6), rgba(15, 5, 20, 0.8)), 
    url('https://i.pinimg.com/webp70/1200x/1c/d1/1f/1cd11fad5154fe109827fa60489f7047.webp');
    
  background-position: center;
  background-repeat: no-repeat;
}