@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text-primary);
  font-family: sans-serif;
  padding-top: 60px;
  background-color: #000;
}

