.home {
  
}

.home-section {
  margin-top: 0 30px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  position: relative;
  z-index: 2;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%; /* Asegura que ocupe todo el ancho */
}
.section-header span {
  font-size: 12px;
  cursor: pointer;
}

/* ESTILO NETFLIX */
.horizontal-scroll {
  display: flex;
  gap: 12px;
  
  /*Permitir scroll y limitar ancho */
  overflow-x: auto; 
  width: 100%; 
  max-width: 100vw; 
  
  /* Mejoras visuales */
  padding: 10px 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* Scroll suave en iOS */

}
.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

